In [7]:
import sys
sys.path.insert(0, '..')

from src.simulator import simulate_scenarios

In [8]:
RES_A = 1000
RES_B = 500
FEE = 0.003

scenarious = []
for pct in [0.01, 0.1, 0.4, 0.5, 0.9, 1]:
    scenarious.append({
        "name": f"Swap ({pct*100:.0f}%)",
        "reserve_a": RES_A,
        "reserve_b": RES_B,
        "fee": FEE,
        "amount_in": RES_A * pct
    })

results = simulate_scenarios(scenarious)

In [9]:
results

          name  amount_in  amount_out  effective_price  slippage %
0    Swap (1%)       10.0    4.935790         0.493579    1.284197
1   Swap (10%)      100.0   45.330545         0.453305    9.338911
2   Swap (40%)      400.0  142.550758         0.356377   28.724621
3   Swap (50%)      500.0  166.333000         0.332666   33.466800
4   Swap (90%)      900.0  236.467612         0.262742   47.451642
5  Swap (100%)     1000.0  249.624437         0.249624   50.075113